<div class="flex flex-wrap p-10 pt-20 justify-center align-middle text-left">



    <div class="w-full lg:w-3/5">
      <p>{{notes}}</p>
    </div>

    <div class="flex flex-col w-full lg:w-2/5 border-l-2 bg-gray-300 ">
      <form class="p-4  " >
        <div class="flex flex-col form-group">
        <label for="title">Title:</label>
        <input type="text" id="title"  class="bg-slate-200 rounded-lg  form-control " placeholder="enter title...">
        </div>

        <div class="flex flex-col form-group">
          <label for="image">upload Image :</label>
          <input type="file" id="image" class="bg-slate-200 rounded-lg  form-control " placeholder="enter image...">
          </div>

          <div class="flex flex-col form-group">
            <label for="video">Upload video:</label>
            <input type="file" id="video" class="bg-slate-200 rounded-lg  form-control " placeholder="enter video...">
            </div>


            <div class="flex flex-col form-group">
              <label for="note">Notes:</label>
              <textarea (change)="onNoteChange($event)" name="" id="note" cols="100" rows="10" class="bg-slate-200 rounded-lg  form-control "></textarea>
              </div>

              <div class="flex flex-col form-group">
                <label for="summary">Summary:</label>

                <textarea   name="" id="summary" cols="30" rows="10" class="bg-slate-200 rounded-lg  form-control ">

                </textarea>

                </div>

                <div class="flex flex-col form-group">
                  <label for="video">Questions:</label>


                  <input type="text" id="video" class="bg-slate-200 rounded-lg  form-control " placeholder="write notes.....">
                  </div>
      </form>
    </div>

  </div>


